<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allisting) {%>
    
        <a href="/show/<%= listing._id%>" class="listing-link"><div class="card col" >
            <img src=<%= listing.url %> class="card-img-top" alt="listing-image"  style="height: 20rem;">
            <div class="card-img-overlay">BeatBottle</div>
            <div class="card-body">
              <p class="card-text"><b><%=listing.band%></b><br>
                <%= listing.title %>
                
            </p>
    
            </div>
          </div></a>
          <%}%>
        
        
    </div>     
</body>
