<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <div class="body">

    <div class="register-container">
        <h2>Re<b style="color: rgb(209, 178, 22)"><i class="fa-brands fa-glide-g"></i></b>ister</h2>
        <div class="car">
            <img src="ic.png" alt="car" class="car-img">
        </div>
        
        <form action="/register" method="POST">
            
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
            <br><br>
            <button type="submit">Register</button>
        </form>
    </div>

    <div class="drum">
        <div class="stick">
            <img src="Untitled design.png" alt="drum stick" class="stick-img">
        </div>
       
        <img src="music logo design (2).png" alt="drum image" class="drum-img"> 
    </div>
    </div>

</body>
</html>
