<% layout("/layouts/boilerplate") -%>
<body>
    <div class="card col" >
        <img src=<%= listing.url %> class="card-img-top show-img" alt="listing-image"  >
        <div class="card-img-overlay show-overlay"><%= listing.band %></div>
        <div class="card-body">
          <p class="card-text"><b>no playlist yet</b><br>
            
        </p>

        </div>
      </div>
</body>
